*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

body{
    display: grid;
    font-family: 'Open Sans', sans-serif;
    background: var(--Violet);
    background-image: url(./images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 1.4rem 3rem;
    min-height: 100vh;
    row-gap: 1rem;
    width: 100vw;
}

header > img{
    max-width: 300px;
}

main{
    display: flex;
    gap: 1.5rem;
    width: 100%;
}

main > img{
    max-width: 690px;
}

article{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-top: 2.5rem;
}

article h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 40px;
}

article p{
    font-weight: 400;
    font-size: 16.5px;
    color: rgba(255, 255, 255, .8);
}

article button{
    height: 2.8rem;
    width: 200px;
    border-radius: 25px;
    border: none;
    color: #000;
    background: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all ease-in-out .4s;
}

article button:hover{
    color: #fff;
    background: var(--Soft-Magenta);
}

footer{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: var(--Soft-Magenta);
}
.attribution a { 
    color: #fff; 
}

.socials{
    display: flex;
    gap: 1rem;
}

.socials > i{
    border: 1px solid white;
    border-radius: 50%;
    padding: .5rem;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out .4s;
}

.socials > i:hover{
    color: var(--Soft-Magenta);
    border: 1px solid var(--Soft-Magenta);
}

@media screen and (max-width: 600px){
    body{
        background-image: url(./images/bg-mobile.svg);
        background-position: top;
        row-gap: 5rem;
    }
    main{
        flex-direction: column;
        gap: 2rem;
    }

    main > img{
        max-width: 390px;
    }

    article{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    article h1{
        font-size: 35px;
    }

    article p{
        font-size: 20.5px;
    }

    footer{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
    }
}